:root {
    --p: #3498db;
    --dg: #222;
    --lg: #fff;
    --slg: #ccc;
    --sdg: #555;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--dg);
    color: var(--lg);
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

h1 {
    font-size: 4em;
    margin: 0;
    padding: 0;
    color: var(--p);
}

p {
    font-size: 1.5em;
}

a {
    color: var(--p);
    text-decoration: none;
}

.contact-email {
    font-size: 1.2em;
    margin-top: 20px;
}